# Created by https://www.toptal.com/developers/gitignore/api/c++,windows,keil
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,windows,keil

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Keil ###
# something maybe need to add
# *.bat  # generate batch file
# output/project_name # uv project generate without file ext
# *.SRC # generate source file
# *.src


# Prerequisites
*.dep
# Object files
*.OBJ
#own files
DebugConfig/
RTE/
*.uvoptx
*.uvprojx
Objects/
Listings/
*.uvguix.*
*.scvd
# Listing Files
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.MAP
*.map
*.[Mm]51
*.[Mm]66
*.SCR
*.scr

# LINK output
*.ABS

# Libraries
*.LIB


# uv output
*.lnp
*.build_log.htm
*.HEX
*.hex


# Build Files
*._IA
*.__[Ii]
*._[Ii][Ii]

# project
*.uvgui.*
*.uvguix.*


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
#draw.io
*.drawio
# End of https://www.toptal.com/developers/gitignore/api/c++,windows,keil